#### Q1. Write a program to print first 10 even numbers.

In [4]:
for i in range (1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

#### Q2.Write a program to print first 10 odd numbers.

In [3]:
for i in range (1,21,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

#### Q3. Write a program to print first 10 even numbers in reverse order.

In [4]:
for i in range (20,1,-2):
    print(i, end=" ")

20 18 16 14 12 10 8 6 4 2

#### Q4. Write a program to find the factorial of a number.

In [5]:
n1=int(input("Enter the number:"))
f1=1
for i in range (1,n1+1):
    f1=f1*i
print("The factorial",n1,"is",f1)

Enter the number:6
The factorial 6 is 720

In [29]:
#To find a factorial:
n = int(input("Enter the number:"))   
f = 1    
if n == 0:    
    print("The factorial of 0 is 1")    
else:
    for i in range(1,n+1):
        f = f*i    
print("The factorial of",n,"is",f)

Enter the number:5
The factorial of 5 is 120

### Q5. Write a program to check whether a number is prime or not.

In [16]:
#To check whether a number is prime or not:
   
num = int(input("Enter the number:"))
k=0
if num==0 and num==1:
    for i in range(2,num):
        if num%i==0:
            k+=1
if k==1:
    print("It is prime number")
else:
    print("It is not prime number")

Enter the number:2
is a not prime number

#### Q6. Write a program to print numbers from 1 to 20 except multiple of 2 & 3.

In [23]:
for i in range(1,20):
    if i%2!=0 and i%3!= 0:
        print(i, end = " ")

1 5 7 11 13 17 19

#### Q7. Write a program to accept 10 numbers from the user and display itâ€™s average.

In [24]:
sum=0
for c in range (10):
    num=int(input("Enter the number:"))
    sum=sum+num
    Avg=sum/10
print(sum,"Average of number is:",Avg)

Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
Enter the number:1
10 Average of number is: 1.0

#### Q8. Write a program to accept 10 numbers from the user and display the largest & smallest number number.

In [29]:
a=[]
for i in range (10):
    num=int(input("Enter the numbers:"))
    a.append(num)
print("Max number in list is",max(a))
print("Min number in list is",min(a))

Enter the numbers:222
Enter the numbers:1
Enter the numbers:7
Enter the numbers:4
Enter the numbers:3
Enter the numbers:9
Enter the numbers:2
Enter the numbers:0
Enter the numbers:44
Enter the numbers:77
Max number in list is 222
Min number in list is 0

#### Q9. Write a program to print only odd numbers from the given list using for loop. L = [23, 45, 32, 25, 46, 33, 71, 90]

In [35]:
L = [23, 45, 32, 25, 46, 33, 71, 90]
for i in L:
    if i%2!=0:
        print(i,end=" ")

23 45 25 33 71

### Q10. Write a program to print the following pattern

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [11]:
for i in range (5,0,-1):
    for j in range (0,i):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [14]:
#predict the o/p:
x = "123"
for i in x:
    print("a",end=" ")

a a a

In [16]:
i=2
for x in range(i):
    i+=1
    print(i)
    print(i)

3
3
4
4

In [17]:
i=2
for x in range(i):
    x+=1
    print(x)
print(x)

1
2
2

In [18]:
i=2
for x in range(i):
    x+=1
    print(x)
print("x")

1
2
x

In [21]:
#Q. Predict the Output
x=3
if x>2 or x<5 and x==6:
    print("Bye")
else:
    print("Thank you")

Bye

In [22]:
x,y=2,4
if(x+y==10):
    print("Thankyou")
else:
    print("Bye")

Bye

In [25]:
n = 11
for i in range(2, n//4):
    if n%i == 0:
        print("Python output based question")
else:
    print("Bye")

Bye

In [26]:
x=2
for i in range(x-1,x**2):
    print(x)

2
2
2